# {{ ansible_managed }}

[user]
	name = Dima Kurguzov
	email = koorgoo@gmail.com

[alias]
  a = add
  b = branch
  c = commit
  cm = commit -m
  co = checkout
  d = diff
  l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  m = merge --no-ff
  s = status -sb
  sm = submodule

[push]
	default = simple

[core]
	editor = vim
	pager = cat

[merge]
	tool = gvimdiff
	conflictstyle = diff3
