" {{ ansible_managed }}

syntax on
filetype plugin indent on

" GO
let g:go_fmt_command = "goimports"

set nocompatible
set backspace=indent,eol,start

set encoding=utf-8
set paste

set ruler
set colorcolumn=80
set cursorline

set autoread " Autoreload on file change.
set shortmess+=A

set splitright
set splitbelow

set autoindent
set smartindent

set nowrap

set expandtab
set tabstop=2
set shiftwidth=2

" set noexpandtab
" set tabstop=4
" set shiftwidth=4

set mouse=a
" set autochdir

set hlsearch
set incsearch
set number

autocmd BufWritePre * :%s/\s\+$//e
autocmd FileType go set noexpandtab|set tabstop=4|set shiftwidth=4
autocmd FileType python set tabstop=4|set shiftwidth=4
" autocmd BufWritePre *.dart :DartFmt

" au BufRead,BufNewFile *.hbs set filetype=html

colorscheme {{ vim_tomorrow_theme }}

if has("gui_running")
  set guifont=Menlo\ Regular:h13
endif

"autocmd vimenter * NERDTree " Start NERDTree
"autocmd vimenter * wincmd p " Open previous window (file).
autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif

map <silent> <C-\> :NERDTreeToggle<CR>
